$red: #EF5255;
$red1: #BF3638;
$red2: #D5484A;
$red3: #EF5255;
$red4: #FA7A7C;
$red5: #FA999A;

$orange: #EB801B;
$orange1: #AF6118;
$orange2: #DA7516;
$orange3: #EB801B;
$orange4: #F99434;
$orange5: #F9AE67;

$yellow: #F4C025;
$yellow1: #BD920F;
$yellow2: #DFAC11;
$yellow3: #F4C025;
$yellow4: #FFD147;
$yellow5: #FFE38F;

$pear: #AED651;
$pear1: #7D9A37;
$pear2: #96BB3E;
$pear3: #AED651;
$pear4: #C2E571;
$pear5: #DBF1A7;

$green: #72D661;
$green1: #53A545;
$green2: #61C350;
$green3: #72D661;
$green4: #93E684;
$green5: #BCF0B2;

$sea: #3DDF89;
$sea1: #2AA764;
$sea2: #2ACB75;
$sea3: #3DDF89;
$sea4: #5DEEA1;
$sea5: #A9F4CC;

$cyan: #4CDCDF;
$cyan1: #2CA3A5;
$cyan2: #2DCACD;
$cyan3: #4CDCDF;
$cyan4: #6BE8EB;
$cyan5: #B7EFF0;

$blue: #4C9CEF;
$blue1: #1C67B5;
$blue2: #2A83DF;
$blue3: #4C9CEF;
$blue4: #74B6FB;
$blue5: #A3CEFA;

$indigo: #4C6DEF;
$indigo1: #2143CA;
$indigo2: #3457E5;
$indigo3: #4C6DEF;
$indigo4: #748FFB;
$indigo5: #B1C0FC;

$purple: #967CF4;
$purple1: #613FD9;
$purple2: #7C5DE9;
$purple3: #967CF4;
$purple4: #BCAAFD;
$purple5: #CFC2FE;

$magenta: #E175DB;
$magenta1: #B63AB0;
$magenta2: #D152CB;
$magenta3: #E175DB;
$magenta4: #EC9AEF;
$magenta5: #EFB1F1;

$pink: #EE588F;
$pink1: #D0356D;
$pink2: #E2407C;
$pink3: #EE588F;
$pink4: #FA80AC;
$pink5: #FBA7C6;

$grey1: #00001F;
$grey2: #10102F;
$grey3: #20203F;
$grey4: #30304F;
$grey5: #40405F;
$grey6: #50506F;
$grey7: #60607F;
$grey8: #70708F;
$grey9: #80809F;
$grey10: #9090AF;
$grey11: #A0A0BF;
$grey12: #B0B0CF;
$grey13: #C0C0DF;
$grey14: #D0D0EF;
$grey15: #E0E0FF;

/* ALIASES */
$primary: $magenta5;
$accent: $cyan;
$accent2: $blue;
$surface: $grey2;
$text: $grey15;
