{% extends "base.html" %}

{% block head %}
    <title>Mapper not found | DDStats</title>
{% endblock %}

{% block main %}

<h1>404 - Mapper not found!</h1>

<div class="center">
    <form class="form-search-home" action="/search" method="get">
        <input class="input-search-home" id="typeahead-nav" 
            type="search" name="q" autocomplete="off" 
            placeholder="nameless tee, Multeasymap, ..." autofocus 
            hx-get="/search/api" 
            hx-trigger="input changed" 
            hx-target="#result-home">
        <div class="result-home" id="result-home"></div>
    </form>
</div>

{% endblock %}
