{% extends "base.html" %}
{% block head %}
    <script src="/static/js/sortable.js" defer></script>
    <title>{{ name }} | {{ page | capitalize }} | Player Profile | DDStats</title>
    <link rel="alternate" type="application/json" title="Player info in JSON" href="/player/json?player={{ name | urlencode_strict }}">
{% endblock %}

{% block main %}
<div class="profile">
    <div class="profile-border">
        {% if profile.skin_name %}
        <div>
            <h1 title="{{ profile.country | code_to_country }} ({{ profile.country }})">
                {{ macros::player_flag(height=28, code=profile.country) }}
            </h1>
        </div>
        <div class="profile-mid">
            <h1>{{ name }}</h1>
            <h1>{{ profile.clan }}</h1>
        </div>
        {{ macros::tee_skin(name=profile.skin_name,
            color_body=profile.skin_color_body,
            color_feet=profile.skin_color_feet,
            size="large") }}
        {% else %}
        <div class="profile-mid">
            <h1>{{ name }}</h1>
        </div>
        {% endif %}
    </div>
</div>

<ul class="buttons">
    <li>
        <a class="{% if page == "overview" %}active{% endif %}" href="/player/{{ name | urlencode_strict | safe }}">Overview</a>
    </li>
    <li>
        <a class="{% if page == "finishes" %}active{% endif %}" href="/player/{{ name | urlencode_strict | safe }}/finishes">Finishes</a>
    </li>
    {% if profile.country or profile.country == 0 %}
    <li>
        <a class="{% if page == "activity" %}active{% endif %}" href="/player/{{ name | urlencode_strict | safe }}/activity">Activity</a>
    </li>
    {% endif %}
    <li>
        <a class="{% if page == "rank1s" %}active{% endif %}" href="/player/{{ name | urlencode_strict | safe }}/rank1s">Rank 1s</a>
    </li>
    {% if is_mapper %}
    <li>
        <a href="/mapper/{{ name | urlencode_strict | safe }}">Mapper profile</a>
    </li>
    {% endif %}
</ul>

{% block player %}

{% endblock %}
<script src="/static/js/TeeAssembler.js"></script>
{# NOTE: The look at cursor works weirdly if it isn't placed at the bottom for some reason #}
<script>
    const tee = teeArray[0]
    if(tee) {
        tee.lookAtCursor()
    }
    function copySkin(skin, body, feet) {
        if (body && feet)
            navigator.clipboard.writeText(`player_skin ${skin}; player_color_body ${body}; player_color_feet ${feet}; player_use_custom_color 1`);
        else
            navigator.clipboard.writeText(`player_skin ${skin}; player_use_custom_color 0`);
        alert("Copied skin to clipboard");
    }
</script>
{% endblock %}
