{% extends "player/base.html" %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Recent playtime</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/activity/playtime">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Date</th>
                <th>Map</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
                {% for activity in recent_activity %}
                <tr>
                    <td>{{ activity.date }}</td>
                    {% if activity.map %}
                    <td><a href="/map/{{ activity.map_name | urlencode | safe }}">{{ activity.map_name }}</a></td>
                    {% else %}
                    <td>{{ activity.map_name | truncate(length=32) }}</td>
                    {% endif %}
                    <td>{{ activity.seconds_played | time_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box">
        <h2 style="float: left">Recent player info</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/activity/playerinfo">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Last seen</th>
                <th>Clan</th>
                <th>Country</th>
                <th>Skin</th>
            </tr>
            </thead>
            <tbody>
                {% for activity in recent_player_info %}
                <tr>
                    <td>{{ activity.last_seen }}</td>
                    <td>{{ activity.clan }}</td>
                    <td title="{{ activity.country | code_to_country }}">
                        <img 
                            height="28px" 
                            src="https://ddnet.org/status/countryflags/{{ activity.country | code_to_country }}.png" 
                            alt="flag_{{ activity.country | code_to_country }}">
                    </td>
                    <td>
                        <div title="{{ activity.skin_name }}" class="tee-medium">
                            <button class="btn-copy" onClick="copySkin('{{ activity.skin_name }}', '{{ activity.skin_color_body }}', '{{ activity.skin_color_feet }}')">
                                <div class="tee" data-skinimage="https://ddstats.qwik.space/skins/{{ activity.skin_name | urlencode }}.png" data-bodycolor="{{ activity.skin_color_body }}" data-feetcolor="{{ activity.skin_color_feet }}" data-coloringmode="code"></div>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="box">
        <h1>Most played gamemodes</h1>
        <div class="graph doughnut">
            <canvas id="mostPlayedGametypes"></canvas>
        </div>
    </div>

    <div class="box">
        <h2 style="float: left">Most played maps</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/activity/mostplayed">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Map</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
                {% for most_played in most_played_maps %}
                <tr>
                    {% if most_played.map %}
                    <td><a href="/map/{{ most_played.map.map | urlencode | safe }}">{{ most_played.map.map }}</a></td>
                    {% else %}
                    <td>{{ most_played.map_name | truncate(length=32) }}</td>
                    {% endif %}
                    <td>{{ most_played.seconds_played | time_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Most played categories</h2>
        <div class="graph doughnut">
            <canvas id="mostPlayedCategories"></canvas>
        </div>
    </div>

    <div class="box">
        <h2>Most played Locations</h2>
        <div class="graph doughnut">
            <canvas id="mostPlayedLocations"></canvas>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Playtime each month</h2>
        <div class="graph-wide center">
            <canvas id="playtimePerMonth"></canvas>
        </div>
    </div>
</div>

<script>
    const ctx_gametypes = document.getElementById('mostPlayedGametypes'); {# rename these ids #}
    const ctx_categories = document.getElementById('mostPlayedCategories');
    const ctx_locations = document.getElementById('mostPlayedLocations');
    const ctx_monthly_playtime = document.getElementById('playtimePerMonth');

    Chart.defaults.color = "#E0E0FF"
    Chart.defaults.font.family = "'Roboto Regular', sans-serif"
    Chart.defaults.font.size = 12

    {{ macros::doughnut_chart(ctx="ctx_gametypes", data=most_played_gametypes) }}
    {{ macros::doughnut_chart(ctx="ctx_categories", data=most_played_categories) }}
    {{ macros::doughnut_chart(ctx="ctx_locations", data=most_played_locations) }}
    {{ macros::bar_chart(ctx="ctx_monthly_playtime", data=playtime_per_month) }}
</script>

{% endblock %}
