{% extends "player/base.html" %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Most played maps</h2>
        <a class="show-more" href="/player/{{ name | urlencode_strict | safe }}/activity">Go back</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Map</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
                {% for most_played in most_played_maps %}
                <tr>
                    <td>{{loop.index }}<sup>{{ loop.index | ordinal }}</sup></td>
                    {% if most_played.map %}
                    <td>{{ most_played.map.server }}</td>
                    {% else %}
                    <td>Non-DDNet</td>
                    {% endif %}
                    {% if most_played.map %}
                    <td><a href="/map/{{ most_played.map_name | urlencode_strict | safe }}">{{ most_played.map_name }}</a></td>
                    {% else %}
                    <td>{{ most_played.map_name | truncate(length=32) }}</td>
                    {% endif %}
                    <td>{{ most_played.seconds_played | time_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
