{% extends "map/base.html" %}

{% block map %}

<div class="container">
    <div class="box">
        <a href="https://ddstats.qwik.space/map-inspect/?map={{ info.map.map | urlencode }}">
            <img class="center" src="https://ddnet.org/ranks/maps/{{ info.map.map | map_thumbnail }}.png">
        </a>
    </div>
    <div class="box">
        <h2 style="float: left">Info</h2>
        <table class="transparent">
            <tbody>
                <tr>
                    <td><b>Release date</b></td>
                    {% if info.map.timestamp %}
                    <td>{{ info.map.timestamp | date(format="%F %T") }}</td>
                    {% else %}
                    <td>Unknown</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Mapper</b></td>
                    <td>{{ macros::join_array(array=info.map.mapper | mapper_array, link="/mapper/%s") }}</td>
                </tr>
                <tr>
                    <td><b>Difficulty</b></td>
                    <td>{{ info.map.server }} {{ macros::stars(stars=info.map.stars, max=5) }}</td>
                </tr>
                <tr>
                    <td><b>Finishes</b></td>
                    {% if info.finishes %}
                    <td>{{ info.finishes_rank }}<sup>{{ info.finishes_rank | ordinal }}</sup> with {{ info.finishes }} finish{{ info.finishes | pluralize(plural="es") }}</td>
                    {% else %}
                    <td>Unfinished</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Points</b></td>
                    <td>{{ info.map.points }} Point{{ info.map.points | pluralize }}</td>
                </tr>
                <tr>
                    <td><b>Median time</b></td>
                    {% if info.finishes %}
                    <td>{{ info.median_time | fancy_time }}</td>
                    {% else %}
                    <td>Unfinished</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="box">
        <h3>
            <a href="https://github.com/ddnet/ddnet-maps/raw/master/types/{{ info.map.server | lower }}/maps/{{ info.map.map | urlencode }}.map">Download Map</a> -
            <a href="https://ddstats.qwik.space/map-inspect/?map={{ info.map.map | urlencode }}">Preview Map</a>
        </h3>
    </div>
</div>

<div class="container">
    <div class="box">
        {% if rankings | length %}
        <h2 style="float: left">Rankings</h2>

        <table class="transparent">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Server</th>
                <th>Player</th>
                <th>Time</th>
                <th>Diff</th>
                {% if not team_rankings | length %}
                <th>Date</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for rank in rankings %}
                <tr>
                    <td>{{ rank.rank }}<sup>{{ rank.rank | ordinal }}</sup></td>
                    <td title="{{ rank.server }}">
                        {{ macros::server_flag(height=14, server=rank.server) }}
                    </td>
                    <td><a href="/player/{{ rank.name | urlencode }}">{{ rank.name }}</a></td>
                    <td>{{ rank.time | fancy_time }}</td>
                    <td>{{ macros::diff(diff1=rankings[0].time, diff2=rank.time) }}</td>
                    {% if not team_rankings | length %}
                    <td>{{ rank.timestamp | date(format="%F %T") }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Rankings</h2>
        <p>Nobody has finished this map. {% if info.map.server == "Fun" %}It's in the Fun category, so it's most likely unfinishable.{% else %}Maybe you will become the first one?{% endif %}</p>
    {% endif %}
    </div>
    {% if team_rankings | length %}
    <div class="box">
        <h2 style="float: left">Teamrankings</h2>

        <table class="transparent">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Server</th>
                <th>Players</th>
                <th>Time</th>
                <th>Diff</th>
            </tr>
            </thead>
            <tbody>
                {% for rank in team_rankings %}
                <tr>
                    <td>{{ rank.rank }}<sup>{{ rank.rank | ordinal }}</sup></td>
                    <td title="{{ rank.server }}">
                        {{ macros::server_flag(height=14, server=rank.server) }}
                    </td>
                    <td>{{ macros::join_array(array=rank.players, link="/player/%s") }}</td>
                    <td>{{ rank.time | fancy_time }}</td>
                    <td>{{ macros::diff(diff1=team_rankings[0].time, diff2=rank.time) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
