{% extends "map/base.html" %}

{% block map %}

<div class="container">
    <div class="box">
        <table class="transparent">
            <thead>
            <tr>
                <th class="timecps small">Rank</th>
                <th class="timecps big">Player</th>
                <th class="timecps mid"><a href="/map/{{ info.map.map }}/timecps">Time{% if sorting == "time" %}↓{% endif %}</a></th>
                {% for i in range(start=1, end=26) %}
                <th class="timecps mid"><a href="/map/{{ info.map.map }}/timecps?sort_by=cp{{ i }}">
                    {% set cp = "cp" ~ i %}
                    CP{{ i }}{% if sorting == cp %}↓{% endif %}
                </a></th>
                <th class="timecps mid">Diff</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for rank in time_cps %}
                <tr>
                    <td class="timecps small">{{ loop.index }}</td>
                    <td class="timecps big"><pre><a href="/player/{{ rank.name | urlencode_strict }}">{{ rank.name }}</a></pre></td>
                    <td class="timecps mid">{{ rank.time | fancy_time }}</td>
                    {% for i in range(start=1, end=26) %}
                    {% set cp = "cp" ~ i %}
                    {% if rank[cp] != 0 %}
                    <td class="timecps mid">{{ rank[cp] | fancy_time }}</td>
                    {% else %}
                    <td class="timecps mid">-</td>
                    {% endif %}
                    {% if i < 25 %}
                    {% set y = i + 1 %}
                    {% set next_cp = "cp" ~ y %}

                    {% if rank[cp] == 0 or rank[next_cp] == 0 %}
                    <td class="timecps mid">--</td>
                    {% elif time_cps[0] == rank %}
                    <td class="timecps mid">{{ rank[next_cp] - rank[cp] + 0.001 | fancy_time }}</td>
                    {% elif time_cps[0][cp] == 0 or time_cps[0][next_cp] == 0 %}
                    <td class="timecps mid">{{ rank[next_cp] - rank[cp] + 0.001 | fancy_time }}</td>
                    {% elif time_cps[0][next_cp] - time_cps[0][cp] >= rank[next_cp] - rank[cp] %}
                    <td class="timecps mid"><span style="color: #3DDF89;">{{ rank[next_cp] - rank[cp] + 0.001 | fancy_time }}<span></td>
                    {% else %}
                    <td class="timecps mid"><span style="color: #EF5255;">{{ rank[next_cp] - rank[cp] + 0.001 | fancy_time }}</span></td>
                    {% endif %}
                    {% else %}
                    <td class="timecps mid">--</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
