{% macro pageLink(pageNum, currentPage, path) %}
    <a class="page {{ "current-page" if currentPage === pageNum }}" href="{{ path | safe }}/{{ pageNum }}">{{ pageNum }}</a>
{% endmacro %}

{% macro pager(pageNum, maxPage, path) %}
    {{ pageLink(1, pageNum, path) }}
    <p>{{ "..." if (pageNum - 2 > 1) }}</p>

    {% for page in range(pageNum-2, pageNum+2) %}
        {% if page > 1 and page < maxPage %}
            {{ pageLink(page, pageNum, path) }}
        {% endif %}
    {% endfor %}

    <p>{{ "..." if (pageNum + 2 < maxPage) }}</p>
    {% if maxPage > 1 %}
        {{ pageLink(maxPage, pageNum, path) }}
    {% endif %}
{% endmacro %}

{% macro stars (stars, max) %}
{% for i in range(0, stars) %}★{% endfor %}
{% for i in range(0, max - stars) %}☆{% endfor %}
{% endmacro %}

{% macro diff (diff1, diff2) %}
{% if diff1 - diff2 < 0 %}
<td><span style="color: #EF5255;">+{{ fancy_time(diff2 - diff1) }}</span></td>
{% elseif diff1 - diff2 > 0 %}
<td><span style="color: #3DDF89;">-{{ fancy_time(diff1 - diff2) }}</span></td>
{% else %}
<td><span style="color: #3DDF89;">-00:00.00</span></td>
{% endif %}
{% endmacro %}

{% macro points (data, type, category) %}
{% if data[type][category].rank %}
{{ data[type][category].rank }}<sup>{{ ordinal(data[type][category].rank) }}</sup> with {{ data[type][category].points }} points
{% else %}
Unranked
{% endif %}
{% endmacro %}

{% macro joinArray(array, link) %}
  {% for item in array %}
    <a href="{{ link.replace('%s', item | urlencode ) }}">{{- item -}}</a>
    {{- ', ' if not loop.last and loop.revindex != 2 -}}
    {{- ' & ' if loop.revindex == 2 -}}
  {% endfor %}
{% endmacro %}