{% macro pageLink(pageNum, currentPage, path) %}
    <a class="page {{ "current-page" if currentPage === pageNum }}" href="{{ path | safe }}/{{ pageNum }}">{{ pageNum }}</a>
{% endmacro %}

{% macro pager(pageNum, maxPage, path) %}
    {{ pageLink(1, pageNum, path) }}
    <p>{{ "..." if (pageNum - 2 > 1) }}</p>

    {% for page in range(pageNum-2, pageNum+2) %}
        {% if page > 1 and page < maxPage %}
            {{ pageLink(page, pageNum, path) }}
        {% endif %}
    {% endfor %}

    <p>{{ "..." if (pageNum + 2 < maxPage) }}</p>
    {% if maxPage > 1 %}
        {{ pageLink(maxPage, pageNum, path) }}
    {% endif %}
{% endmacro %}

{% macro plural(value, singular_form) %}
  {% if value != 1 %}
    {{ value }} {{ singular_form }}s
  {% else %}
    {{ value }} {{ singular_form }}
  {% endif %}
{% endmacro %}

{% macro time_format(seconds) %}
  {% set remaining = seconds %}
  {% set hours = (remaining / 3600) | int %}
  {% set remaining = remaining % 3600 %}
  {% set minutes = (remaining / 60) | int %}
  {% set remaining = remaining % 60 %}
  {% if hours > 0 %}
    {{ plural(hours, 'hour') }}
  {% elif minutes > 0 %}
    {{ plural(minutes, 'minute') }}
  {% else %}
    {{ plural(remaining, 'second') }}
  {% endif %}
{% endmacro %}

{% macro fancy_time(inputSecs) %}
    {% set seconds = inputSecs | round(0, "floor") %}
    {% set hourSecs = seconds % 3600  %}
    {% set hours = (seconds - hourSecs) / 3600 %}
    {% set minSecs = (seconds - hours * 3600) % 60 %}
    {% set mins = (seconds - hours * 3600 - minSecs) / 60 %}
    {% set secsMillis = (inputSecs - hours * 3600 - mins * 60) | round(2) | float %}
    {% set secs = secsMillis | round(0, "floor") %}
    {% set millis = ((secsMillis - (secsMillis | round(0, "floor"))) * 100) | round(2) %}

    {%- if hours -%}
        {{- hours -}}:
    {%- endif -%}

    {%- if mins < 10 -%}
        0{{- mins -}}:
    {%- elif mins > 9 -%}
        {{- mins -}}:
    {%- endif -%}

    {%- if secs < 10 -%}
        0{{- secs -}}.
    {%- elif secs > 9 -%}
        {{- secs -}}.
    {%- endif -%}

    {%- if millis < 10 -%}
        0{{- millis -}}
    {%- elif millis > 9 -%}
        {{- millis -}}
    {%- endif -%}
{% endmacro %}