{% extends "player/base.html" %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Favourite partners for rank1s</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/rank1s">Go back</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Player</th>
                <th>Rank1s together</th>
            </tr>
            </thead>
            <tbody>
                {% for teammate in favourite_rank1s_teammates %}
                <tr>
                    <td><a href="/player/{{ teammate.name | urlencode }}">{{ teammate.name }}</a></td>
                    <td>{{ teammate.ranks_together }} rank{{ teammate.ranks_together | pluralize }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
