{% extends "player/base.html" %}

{% block player %}

<div class="container left-bigger">
    <div class="box">
        <h2 style="float: left">Recent Top 10s</h2>
        {% if recent_top_10s | length %}
        {% if recent_top_10s | length >= 9 %}
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/rank1s/recent">Show more</a>
        {% endif %}
        <table class="transparent">
            <thead>
            <tr>
                <th>Date</th>
                <th>Server</th>
                <th>Map</th>
                <th>Time</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
                {% for rank in recent_top_10s %}
                <tr>
                    <td>{{ rank.timestamp | date(format="%F %T") }}</td>
                    <td title="{{ rank.server }}">
                        {{ macros::server_flag(height=14, server=rank.server) }}
                    </td>
                    <td><a href="/map/{{ rank.map | urlencode | safe }}">{{ rank.map }}</a></td>
                    <td>{{ rank.time | fancy_time }}</td>
                    <td>{{ rank.rank }}<sup>{{ rank.rank | ordinal }}</sup></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This player has no recent top 10s</p>
        {% endif %}
    </div>

    <div class="box">
        <h2 style="float: left">Favourite partners</h2>
        {% if favourite_rank1s_teammates | length >= 10 %}
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/rank1s/partners">Show more</a>
        {% endif %}
        {% if favourite_rank1s_teammates | length %}
        <table class="transparent">
            <thead>
            <tr>
                <th>Player</th>
                <th>Rank1s together</th>
            </tr>
            </thead>
            <tbody>
                {% for teammate in favourite_rank1s_teammates %}
                <tr>
                    <td><a href="/player/{{ teammate.name | urlencode }}">{{ teammate.name }}</a></td>
                    <td>{{ teammate.ranks_together }} rank{{ teammate.ranks_together | pluralize }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="clear: both">This player has no team rank1s</p>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Total Top10s</h2>
        {% if all_top_10s | length %}
        <table class="transparent">
            <thead>
            <tr>
                <th>Placement</th>
                <th>Ranks</th>
                <th>Teamranks</th>
            </tr>
            </thead>

            {% set all_ranks = all_top_10s | group_by(attribute="rank") %}
            {% set all_team_ranks = all_top_10s | group_by(attribute="team_rank") %}
            {% set_global total_top10s = 0 %}
            {% set_global total_top_team10s = 0 %}

            <tbody>
                {% for i in range(start=1, end=11) %}
                {% if all_ranks[i] or all_team_ranks[i] %}
                <tr>
                    <td>{{ i }}<sup>{{ i | ordinal }}</sup></td>
                    {% if all_ranks[i] %}
                    {% set total = all_ranks[i] | length %}
                    <td>{{ total }}</td>
                    {% set_global total_top10s = total_top10s + total %}
                    {% else %}
                    <td></td>
                    {%endif %}
                    {% if all_team_ranks[i] %}
                    {% set total = all_team_ranks[i] | length %}
                    <td>{{ total }}</td>
                    {% set_global total_top_team10s = total_top_team10s + total %}
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td><b>Total</b></td>
                    <td><b>{{ total_top10s }}</b></td>
                    <td><b>{{ total_top_team10s }}</b></td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p>This player has no top 10s</p>
        {% endif %}
    </div>
    <div class="box">

    </div>
</div>

<div class="container">
    <div class="box">
        <h2>All Top10s</h2>
        {% if all_top_10s | length %}
        <table class="sortable n-last">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Map</th>
                    <th id="default-sort" class="wide dir-u">Rank</th>
                    <th>Time</th>
                    <th>Team Rank</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for map in all_top_10s %}
                <tr>
                    <td>{{ map.map.server }}</a></td>
                    <td><a href="/map/{{ map.map.map | urlencode | safe }}">{{ map.map.map }}</a></td>
                    <td data-sort="{{ map.rank }}">{{ map.rank }}<sup>{{ map.rank | ordinal }}</sup></td>
                    <td data-sort="{{ map.time }}">{{ map.time | fancy_time }}</td>
                    {% if map.team_rank %}
                    <td data-sort="{{ map.team_rank }}">{{ map.team_rank }}<sup>{{ map.team_rank | ordinal }}</sup></td>
                    <td data-sort="{{ map.team_time }}">{{ map.team_time | fancy_time }}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This player has no top 10s</p>
        {% endif %}
    </div>
</div>
{% endblock %}
