{% extends "templates/base.njk" %}
{% import "components/list.njk" as list %}
{% import "components/utils.njk" as utils %}

{% block head %}
	<title>Leaderboard | Most played maps | DDStats</title>
{% endblock %}

{% block main %}
<h1>Leaderboard for the most played maps</h1>

<ul class="buttons">
    <li><a class="{{ "active" if category == "Any" }}" href="/leaderboard/mostplayed/category/Any/">Any</a></li>
    <li><a class="{{ "active" if category == "Novice" }}" href="/leaderboard/mostplayed/category/Novice/">Novice</a></li>
    <li><a class="{{ "active" if category == "Moderate" }}" href="/leaderboard/mostplayed/category/Moderate/">Moderate</a></li>
    <li><a class="{{ "active" if category == "Brutal" }}" href="/leaderboard/mostplayed/category/Brutal/">Brutal</a></li>
    <li><a class="{{ "active" if category == "Insane" }}" href="/leaderboard/mostplayed/category/Insane/">Insane</a></li>
    <li><a class="{{ "active" if category == "Dummy" }}" href="/leaderboard/mostplayed/category/Dummy/">Dummy</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Easy" }}" href="/leaderboard/mostplayed/category/DDmaX.Easy/">DDmaX.Easy</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Next" }}" href="/leaderboard/mostplayed/category/DDmaX.Next/">DDmaX.Next</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Pro" }}" href="/leaderboard/mostplayed/category/DDmaX.Pro/">DDmaX.Pro</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Nut" }}" href="/leaderboard/mostplayed/category/DDmaX.Nut/">DDmaX.Nut</a></li>
    <li><a class="{{ "active" if category == "Oldschool" }}" href="/leaderboard/mostplayed/category/Oldschool/">Oldschool</a></li>
    <li><a class="{{ "active" if category == "Solo" }}" href="/leaderboard/mostplayed/category/Solo/">Solo</a></li>
    <li><a class="{{ "active" if category == "Race" }}" href="/leaderboard/mostplayed/category/Race/">Race</a></li>
    <li><a class="{{ "active" if category == "Fun" }}" href="/leaderboard/mostplayed/category/Fun/">Fun</a></li>
</ul>

<div class="leaderboard">
    <table>
        <tbody>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th class="wide">Map</th>
                <th>Playtime</th>
                <th>Most addicted</th>
            </tr>
            {% for map in leaderboard %}
            <tr>
                <td class="rank">{{ map.rank }}</td>
                <td class="">{{ map.Server }}</td>
                <td class="wide"><a href="/map/{{ map.map | urlencode }}">{{ map.map }}</a></td>
                <td class="grey">{{ time_format(map.seconds) }}</td>
                <td class="wide"><a href="/player/{{ map.mostaddicted | urlencode }}">{{ map.mostaddicted }}</a> ({{ time_format(map.mostaddicted_seconds) }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}