{% extends "templates/base.njk" %}
{% import "components/list.njk" as list %}
{% import "components/utils.njk" as utils %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/assets/css/app.css">
	<title>Leaderboard | Rank1s | DDStats</title>
{% endblock %}

{% block main %}
<h1>Leaderboard for most rank 1s</h1>

<ul class="buttons">
    <li><a class="{{ "active" if category == "Any" }}" href="/leaderboard/{{ type }}/category/Any/sortby/{{ sorting }}">Total</a></li>
    <li><a class="{{ "active" if category == "Novice" }}" href="/leaderboard/{{ type }}/category/Novice/sortby/{{ sorting }}">Novice</a></li>
    <li><a class="{{ "active" if category == "Moderate" }}" href="/leaderboard/{{ type }}/category/Moderate/sortby/{{ sorting }}">Moderate</a></li>
    <li><a class="{{ "active" if category == "Brutal" }}" href="/leaderboard/{{ type }}/category/Brutal/sortby/{{ sorting }}">Brutal</a></li>
    <li><a class="{{ "active" if category == "Insane" }}" href="/leaderboard/{{ type }}/category/Insane/sortby/{{ sorting }}">Insane</a></li>
    <li><a class="{{ "active" if category == "Dummy" }}" href="/leaderboard/{{ type }}/category/Dummy/sortby/{{ sorting }}">Dummy</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Easy" }}" href="/leaderboard/{{ type }}/category/DDmaX.Easy/sortby/{{ sorting }}">DDmaX.Easy</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Next" }}" href="/leaderboard/{{ type }}/category/DDmaX.Next/sortby/{{ sorting }}">DDmaX.Next</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Pro" }}" href="/leaderboard/{{ type }}/category/DDmaX.Pro/sortby/{{ sorting }}">DDmaX.Pro</a></li>
    <li><a class="{{ "active" if category == "DDmaX.Nut" }}" href="/leaderboard/{{ type }}/category/DDmaX.Nut/sortby/{{ sorting }}">DDmaX.Nut</a></li>
    <li><a class="{{ "active" if category == "Oldschool" }}" href="/leaderboard/{{ type }}/category/Oldschool/sortby/{{ sorting }}">Oldschool</a></li>
    <li><a class="{{ "active" if category == "Solo" }}" href="/leaderboard/{{ type }}/category/Solo/sortby/{{ sorting }}">Solo</a></li>
    <li><a class="{{ "active" if category == "Race" }}" href="/leaderboard/{{ type }}/category/Race/sortby/{{ sorting }}">Race</a></li>
    <li><a class="{{ "active" if category == "Fun" }}" href="/leaderboard/{{ type }}/category/Fun/sortby/{{ sorting }}">Fun</a></li>
</ul>

<h3 class="center">Type</h3>
<ul class="buttons">
    <li><a class="{{ "active" if type == "teamrank1s" }}" href="/leaderboard/teamrank1s/category/{{ category }}/sortby/{{ sorting }}">Team rank1s</a></li>
    <li><a class="{{ "active" if type == "rank1s" }}" href="/leaderboard/rank1s/category/{{ category }}/sortby/{{ sorting }}">Rank 1s</a></li>
</ul>

<div class="leaderboard">
    <table>
        <tbody>
            <tr>
                <th>#</th>
                <th class="wide">Player</th>
                <th><a class="gold" href="/leaderboard/{{ type }}/category/{{ category }}/sortby/1">I{{ "↓" if  sorting == "1" else ""}}</a></th>
                <th><a class="silver" href="/leaderboard/{{ type }}/category/{{ category }}/sortby/2">II{{ "↓" if  sorting == "2" else ""}}</a></th>
                <th><a class="bronze" href="/leaderboard/{{ type }}/category/{{ category }}/sortby/3">III{{ "↓" if  sorting == "3" else ""}}</a></th>
                <th><a class="platinum" href="/leaderboard/{{ type }}/category/{{ category }}/sortby/4">IV{{ "↓" if  sorting == "4" else ""}}</a></th>
                <th><a class="platinum" href="/leaderboard/{{ type }}/category/{{ category }}/sortby/5">V{{ "↓" if  sorting == "5" else ""}}</a></th>
            </tr>
            {% for player in leaderboard.data %}
            <tr>
                <td class="rank">{{ player.rank }}</td>
                <td class="wide">{{ player.Name }}</td>
                <td class="gold">{{ player.rank1s }}</td>
                <td class="Silver">{{ player.rank2s }}</td>
                <td class="bronze">{{ player.rank3s }}</td>
                <td class="platinum">{{ player.rank4s }}</td>
                <td class="platinum">{{ player.rank5s }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% set url = ["/leaderboard/", type, "/category/", category, "/sortby/", sorting, "/page"] | join %}
<div class="pages">
    {{ utils.pager(leaderboard.page.page, leaderboard.page.total, url) }}
</div>
{% endblock %}