{% extends "player/base.html" %}

{% block player %}

{% set categories = ["Novice", "Moderate", "Brutal", "Insane", "Dummy", "DDmaX.Easy", "DDmaX.Next", "DDmaX.Pro", "DDmaX.Nut", "Oldschool", "Solo", "Race", "Fun"] %}

<div class="container">
    <div class="box">
        <h2 class="center">Quick jump</h2>
        <ul class="buttons">
            {% for category in categories %}
            <li><a href="#{{ category }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% for category in categories %}
<div class="container">
    <div id="{{ category }}" class="box">
        <details open>
            <summary class="summary-title">{{ category }}</summary>
            {% if finishes[category] %}
            <div class="points">
                <table class="transparent">
                    <thead>
                    <tr>
                        <th>Points</th>
                        <th>Rank Points</th>
                        <th>Team Points</th>
                        <th>Team Rank1s</th>
                        <th>Rank 1s</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ macros::points(data=points.points, category=category) }}</td>
                            <td>{{ macros::points(data=points.rank_points, category=category) }}</td>
                            <td>{{ macros::points(data=points.team_points, category=category) }}</td>
                            <td>Unranked</td>
                            <td>Unranked</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="sortable n-last">
                <thead>
                    <tr>
                        <th id="default-sort" class="wide dir-u">Map</th>
                        <th>Time</th>
                        <th>Team Rank</th>
                        <th>Rank</th>
                        <th>Playtime</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                {% for finish in finishes[category] %}
                    <tr>
                        <td><a href="/map/{{ finish.map.map | urlencode | safe }}">{{ finish.map.map }}</a></td>
                        <td data-sort="{{ finish.time }}">{{ finish.time | fancy_time }}</td>
                        {% if finish.team_rank %}
                        <td data-sort="{{ finish.team_rank }}">{{ finish.team_rank }}<sup>{{ finish.team_rank | ordinal }}</sup></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td data-sort="{{ finish.rank }}">{{ finish.rank }}<sup>{{ finish.rank | ordinal }}</sup></td>
                        {% if finish.seconds_played %}
                        <td data-sort="{{ finish.seconds_played }}">{{ finish.seconds_played | time_format }}</td>
                        {% else %}
                        <td data-sort="0">Unplayed</td>
                        {% endif %}
                        <td>{{ finish.map.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>{{ name }} has not finished any {{ category }} maps and is unranked within the category.</p>
            {% endif %}
            {% if unfinished_maps[category] %}
            <details>
            <summary class="summary-title">Unfinished maps</summary>

            <div class="points">
                <table class="transparent">
                    <thead>
                    <tr>
                        <th>Unfinished maps</th>
                        <th>Missing points</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ unfinished_maps[category] | length }} map{{ unfinished_maps[category] | length | pluralize }}</td>
                            {% set_global missing_points = 0 %}
                            {% for map in unfinished_maps[category] %}
                            {% set_global missing_points = missing_points + map.map.points %}
                            {% endfor %}
                            <td>{{ missing_points }} point{{ missing_points | pluralize }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="sortable n-last">
                <thead>
                    <tr>
                        <th id="default-sort" class="wide dir-u">Map</th>
                        <th>Points</th>
                        <th>Finishes</th>
                        <th>Median Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for map in unfinished_maps[category] %}
                    <tr>
                        <td>
                            <a href="/map/{{ map.map.map | urlencode }}">{{ map.map.map }}</a>
                        </td>
                        <td>{{ map.map.points }} point{{ map.map.points | pluralize }}</td>
                        {% if map.finishes %}
                        <td data-sort="{{ map.finishes }}">{{ map.finishes_rank }}<sup>{{ map.finishes_rank | ordinal }}</sup> with {{ map.finishes }} finish{{ map.finishes | pluralize(plural="es") }}</td>
                        {% else %}
                        <td>Unfinished</td>
                        {% endif %}
                        {% if map.finishes %}
                        <td data-sort="{{ map.median_time }}">{{ map.median_time | fancy_time }}</td>
                        {% else %}
                        <td>Unfinished</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </details>
            {% else %}
            <p><b>All maps finished in {{ category }}.</b></p>
            {% endif %}
        </details>
    </div>
</div>
{% endfor %}

{% endblock %}
