{% extends "player/base.html" %}

{% block player %}

{% set categories = ["Novice", "Moderate", "Brutal", "Insane", "Dummy", "DDmaX.Easy", "DDmaX.Next", "DDmaX.Pro", "DDmaX.Nut", "Oldschool", "Solo", "Race", "Fun"] %}
{% for category in categories %}

<div class="container">
    <div class="box">
        <h2>{{ category }}</h2>
        {% if finishes[category] %}
        <table class="sortable n-last">
            <thead>
                <tr>
                    <th id="default-sort" class="wide dir-u">Map</th>
                    <th>Time</th>
                    <th>Team Rank</th>
                    <th>Rank</th>
                    <th>Playtime</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for finish in finishes[category] %}
                <tr>
                    <td><a href="/map/{{ finish.map.map | urlencode | safe }}">{{ finish.map.map }}</a></td>
                    <td data-sort="{{ finish.time }}">{{ finish.time | fancy_time }}</td>
                    {% if finish.teamrank %}
                    <td data-sort="{{ finish.teamrank }}">{{ finish.teamrank }}<sup>{{ finish.teamrank | ordinal }}</sup></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td data-sort="{{ finish.rank }}">{{ finish.rank }}<sup>{{ finish.rank | ordinal }}</sup></td>
                    {% if finish.seconds_played %}
                    <td data-sort="{{ finish.seconds_played }}">{{ finish.seconds_played | time_format }}</td>
                    {% else %}
                    <td data-sort="0">Unplayed</td>
                    {% endif %}
                    <td>{{ finish.map.points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ name }} has not finished any {{ category }} maps and is unranked within the category.</p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
