{% extends "templates/base.njk" %}
{% import "components/list.njk" as list %}

{% block head %}
	<title>FAQ | DDStats</title>
{% endblock %}

{% block main %}

<h1>FAQ - Frequently Asked Questions</h1>

<div class="container">
    <div class="box">
        <h2>What is DDStats?</h2>
        <p>
            DDStats is a website showing various statistics related to <a href="https://ddnet.org">DDNet</a>. As opposed to the offical DDNet website, it shows more
            indepth data and statistics.
        </p>
    </div>
</div>


<div class="container">
    <div class="box">
        <h2>How often is the data updated?</h2>
        <p>
            DDStats updates the data every 24 hours at 5 AM CET.
        </p>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Where does DDStats get its data?</h2>
        <p>
            DDStats uses the SQLite database export from <a href="https://ddnet.org/stats/ddnet.sqlite.zip">ddnet.org</a> to get information about player data. 
            DDStats gets information about playtime from the <a href="https://ddnet.org/stats/master">ddnet.org master archive</a>. Playtime is tracked across all
            servers from both 0.6 and 0.7. Unfortunately does the playtime data only go back to May 18, 2021.
        </p>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Does DDStats have a Discord bot?</h2>
        <p>
            Yes, you can invite the DDStats bot to your server using the following link, <a href="https://discord.com/api/oauth2/authorize?client_id=940409584730931292&permissions=0&scope=applications.commands%20bot">Add to server</a>.
        </p>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Who is behind this website?</h2>
        <p>
            DDStats is run by furo. If you have any feature requests or found a bug, feel free to contact me on one of the following platforms,
        </p>
        <table class="transparent">
            <tr>
                <td><b>Discord</b></td>
                
                <td><a href="https://discord.com/users/786202262702784552">furo321</a></td>
            </tr>
            <tr>
                <td><b>XMPP</b></td>
                <td><a href="xmpp:furo@qwik.space">furo@qwik.space</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
