{% extends "templates/base.njk" %}
{% import "components/list.njk" as list %}

{% block head %}
	<title>DDStats</title>
{% endblock %}

{% block main %}

<div class="center">
    <form class="form-search-home" action="/search" method="get">
        <h1>Search for a player or map...</h1>
        <input class="input-search-home" id="typeahead-nav" type="text" name="q" autocomplete="off" placeholder="nameless tee, Multeasymap, ..." autofocus>
        <div class="result-home" id="result-home"></div>
    </form>
</div>

<script>
    let cacheHome = {}
    const inputHome = document.getElementById('typeahead-nav');
    inputHome.addEventListener('input', handleInputHome);

    function handleInputHome(event) {
        const value = event.target.value;

        if(!value.length) {
            const resultDiv = document.getElementById('result-home');
            if(resultDiv)
                resultDiv.innerHTML = '';
            return
        }
        if (cacheHome[value])
            showResultsHome(cacheHome[value]);
        else {
            fetch('/search/api?q=' + value)
                .then(response => response.json())
                .then(data => {
                    cacheHome[value] = data; // Save result in cacheHome.
                    showResultsHome(data);
                })
        }
    }

    function showResultsHome(results) {
        const resultDiv = document.getElementById('result-home');
        if(!resultDiv)
            return

        resultDiv.innerHTML = '';

        let ul = document.createElement('ul');
        ul.setAttribute('id', 'playerListHome');
    
        for(const type of ["maps", "players"]) {
            results[type].forEach(item => {
                let li = document.createElement('li');
                let p = document.createElement('p');
                let a = document.createElement('a');
                let span = document.createElement('span')

                span.classList.add('right')

                if(type == "maps") {
                    a.setAttribute('href', '/map/' + encodeURIComponent(item.Map));
                    span.textContent = `${item.Server}`
                    a.textContent = item.Map;
                }
                else {
                    a.setAttribute('href', '/player/' + encodeURIComponent(item.name));
                    span.textContent = `${item.points} points`
                    a.textContent = item.name;
                }
            

                p.appendChild(a)
                p.appendChild(span)
                
                li.appendChild(p);
                ul.appendChild(li);
            });
            resultDiv.appendChild(ul);
        }
    }


    inputHome.addEventListener('keydown', handleKeydownHome);
    function handleKeydownHome(event) {
        if(document.getElementById('playerListHome') === null)
            return

        const ul = document.getElementById('playerListHome');
        const selectedHome = ul.querySelector('.selectedHome');

        if(event.key === "ArrowDown") {
            if(selectedHome && selectedHome.nextSibling) {
                selectedHome.nextSibling.classList.add('selectedHome');
                selectedHome.classList.remove('selectedHome');
            } else {
                ul.firstChild.classList.add('selectedHome');
                ul.lastChild.classList.remove('selectedHome')
            }
        } else if (event.key === "ArrowUp") {
            if(selectedHome && selectedHome.previousSibling) {
                selectedHome.previousSibling.classList.add('selectedHome');
                selectedHome.classList.remove('selectedHome');
            } else {
                ul.lastChild.classList.add('selectedHome');
                ul.firstChild.classList.remove('selectedHome')
            }
        } else if (event.key === "Enter") {
            if(ul.firstChild && ul.firstChild == ul.lastChild) {
                event.preventDefault();
                window.location.href = ul.firstChild.firstChild.firstChild.getAttribute('href')
            }
            if(selectedHome) {
                event.preventDefault();
                window.location.href = selectedHome.firstChild.firstChild.getAttribute('href');
            }
            if(ul.childElementCount === 0) {
                event.preventDefault();
                window.location.href = '/player/' + inputHome.value;
            }
        }
    }
</script>
{% endblock %}
