{% extends "templates/base.njk" %}
{% import "components/list.njk" as list %}
{% import "components/utils.njk" as utils %}

{% block head %}
	<title>DDStats</title>
{% endblock %}

{% block main %}

<form action="/search" method="get">
    <input type="text" value="{{ query }}" name="q" placeholder="nameless tee, Multeasymap, ...">
</form>

<h2>Maps</h2>
{% if maps | length %}
<div class="container">
    {% for map in maps %}
    <div class="box">  
        <div class="center"><h2>{{ map.Server }} - {{ map.Map }}</h2></div>
        <p class="center">{{ utils.joinArray(map.Mapper, "/mapper/%s") }}</p>
        <a href="/map/{{ map.Map | urlencode }}">
            <img class="center" src="https://ddnet.org/ranks/maps/{{ map.Map | replace(r/[À-ž]/g, "__") | replace(r/[^a-zA-Z0-9]/g, "_") }}.png">
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No maps found.</p>
{% endif %}

<h2>Players</h2>
{% if players | length %}
{% for player in players %}
<div class="container">
    <div class="box">
        <h3><a href="/player/{{ player.name | urlencode }}">{{ player.name }}</a> - {{ player.points }} points</h3>
    </div>
</div>
{% endfor %}
{% else %}
<p>No players found.</p>
{% endif %}


{% endblock %}