{% extends "base.html" %}

{% block head %}
    <title>DDStats</title>
    <meta name="description" content="DDStats, the website showing more in depth statistics for DDNet">
{% endblock %}

{% block main %}

<div class="center">
    <form class="form-search-home" action="/search" method="get">
        <h1>Search for a player or map...</h1>
        <input class="input-search-home" id="typeahead-nav" 
            type="search" name="q" autocomplete="off" 
            placeholder="nameless tee, Multeasymap, ..." autofocus 
            hx-get="/search/api" 
            hx-trigger="input changed" 
            hx-target="#result-home">
        <div class="result-home" id="result-home"></div>
    </form>
</div>
{% endblock %}
