{% macro stars (stars, max) %}
{% for i in range(start=0, end=stars) %}★{% endfor %}
{%- for i in range(start=0, end=max-stars) %}☆{% endfor %}
{% endmacro %}

{% macro diff (diff1, diff2) %}
{% if diff1 - diff2 < 0 %}
<span style="color: #EF5255;">+{{ (diff2 - diff1) | fancy_time }}</span>
{% elif diff1 - diff2 > 0 %}
<span style="color: #3DDF89;">-{{ (diff1 - diff2) | fancy_time }}</span>
{% else %}
<span style="color: #3DDF89;">-00:00.00</span>
{% endif %}
{% endmacro %}

{% macro points (data, category) %}
{% if data[category] %}
{{ data[category].rank }}<sup>{{ data[category].rank | ordinal }}</sup> with {{ data[category].points }} points
{% else %}
Unranked
{% endif %}
{% endmacro %}

{% macro doughnut_chart(ctx, data) %}
new Chart(
  {{ ctx }},
  {
  type: 'doughnut',
  data: {
      labels: [
          {% for row in data %}
          '{{ row.key }}',
          {% endfor %}
      ],
      datasets: [{
          label: '',
          data: [
              {% for row in data %}
              {
                label: '{{ row.seconds_played | time_format }}',
                value: '{{ row.seconds_played }}'
              },
              {% endfor %}
          ],
          backgroundColor: chart_colors,
          hoverOffset: 4
      }]
  },
  options: {
      maintainAspectRatio: false,
      plugins: {
          legend: {
              display: true,
              position: 'left'
          },
          tooltip: {
            callbacks: {
                label: function(context) {
                    const index = context.dataIndex;
                    let label = context.dataset.data[index].label || '';
                    return label;
                }
            }
          }
      }
  }
})
{% endmacro %}

{% macro bar_chart(ctx, data) %}
new Chart(
  {{ ctx }},
  {
  type: 'bar',
  data: {
      datasets: [{
          label: '',
          data: [
              {% for row in data | reverse %}
              {
                x: '{{ row.month }}',
                y: '{{ row.seconds_played / 60 / 60 }}',
                label: '{{ row.seconds_played | time_format }}'
              },
              {% endfor %}
          ],
          backgroundColor: '#4C9CEF',
          hoverOffset: 4
      }]
  },
  options: {
    scales: {
      y: {
        suggestedMax: 100
      }
    },
    maintainAspectRatio: false,
    plugins: {
        legend: {
            display: false
        },
        tooltip: {
          callbacks: {
              label: function(context) {
                  const index = context.dataIndex;
                  let label = context.dataset.data[index].label || '';
                  return label;
              }
          }
        }
    }
  }
})
{% endmacro %}

{% macro join_array(array, link) %}
  {% for item in array %}
    <a href="{{ link | replace(from='%s', to=item | urlencode ) }}">{{ item }}</a>
    {%- if not loop.last and array | length - loop.index0 != 2 -%}, {%- endif -%}
    {% if array | length - loop.index0 == 2 %} & {% endif %}
  {% endfor %}
{% endmacro %}

{% macro server_flag(height, server) %}
<img width="{{ height * 2 }}px" height="{{ height }}px"
  src="https://ddnet.org/countryflags/{% if server == "" %}UNK{% else %}{{ server }}{% endif %}.png"
  alt="server_flag_{{ server }}">
{% endmacro %}

{% macro player_flag(height, code) %}
<img width="{{ height * 2 }}px" height="{{ height }}px"
  src="https://ddnet.org/status/countryflags/{{ code | code_to_country }}.png"
  alt="player_flag_{{ code | code_to_country }}">
{% endmacro %}
