{% macro stars (stars, max) %}
{% for i in range(start=0, end=stars) %}★{% endfor %}
{% for i in range(start=0, end=max-stars) %}☆{% endfor %}
{% endmacro %}

{# {% macro diff (diff1, diff2) %}
{% if diff1 - diff2 < 0 %}
<td><span style="color: #EF5255;">+{{ fancy_time(diff2 - diff1) }}</span></td>
{% elseif diff1 - diff2 > 0 %}
<td><span style="color: #3DDF89;">-{{ fancy_time(diff1 - diff2) }}</span></td>
{% else %}
<td><span style="color: #3DDF89;">-00:00.00</span></td>
{% endif %}
{% endmacro %}

{% macro points (data, type, category) %}
{% if data[type][category].rank %}
{{ data[type][category].rank }}<sup>{{ ordinal(data[type][category].rank) }}</sup> with {{ data[type][category].points }} points
{% else %}
Unranked
{% endif %}
{% endmacro %}

{% macro joinArray(array, link) %}
  {% for item in array %}
    <a href="{{ link.replace('%s', item | urlencode ) }}">{{- item -}}</a>
    {{- ', ' if not loop.last and loop.revindex != 2 -}}
    {{- ' & ' if loop.revindex == 2 -}}
  {% endfor %}
{% endmacro %}

{% macro server_flag(server) %}
<img height="14px" src="https://ddnet.org/countryflags/{{ "UNK" if server == "" else server }}.png">
{% endmacro %}

{% macro player_flag_medium(code) %}
<img height="28px" src="https://ddnet.org/status/countryflags/{{ mapCountryCode(code) }}.png" alt="flag_{{ mapCountryCode(code) }}">
{% endmacro %}

{% macro player_flag_small(code) %}
<img height="14px" src="https://ddnet.org/status/countryflags/{{ mapCountryCode(code) }}.png" alt="flag_{{ mapCountryCode(code) }}">
{% endmacro %} #}
