{% macro stars (stars, max) %}
{% for i in range(start=0, end=stars) %}★{% endfor %}
{%- for i in range(start=0, end=max-stars) %}☆{% endfor %}
{% endmacro %}

{% macro diff (diff1, diff2) %}
{% if diff1 - diff2 < 0 %}
<span style="color: #EF5255;">+{{ (diff2 - diff1) | fancy_time }}</span>
{% elif diff1 - diff2 > 0 %}
<span style="color: #3DDF89;">-{{ (diff1 - diff2) | fancy_time }}</span>
{% else %}
<span style="color: #3DDF89;">-00:00.00</span>
{% endif %}
{% endmacro %}

{% macro points (data, category) %}
{% if data[category] %}
{{ data[category].rank }}<sup>{{ data[category].rank | ordinal }}</sup> with {{ data[category].points }} points
{% else %}
Unranked
{% endif %}
{% endmacro %}

{% macro join_array(array, link) %}
  {% for item in array %}
    <a href="{{ link | replace(from='%s', to=item | urlencode ) }}">{{ item }}</a>
    {%- if not loop.last and array | length - loop.index0 != 2 -%}, {%- endif -%}
    {% if array | length - loop.index0 == 2 %} & {% endif %}
  {% endfor %}
{% endmacro %}

{% macro server_flag(height, server) %}
<img width="{{ height * 2 }}px" height="{{ height }}px"
  src="https://ddnet.org/countryflags/{% if server == "" %}UNK{% else %}{{ server }}{% endif %}.png"
  alt="server_flag_{{ server }}">
{% endmacro %}

{% macro player_flag(height, code) %}
<img width="{{ height * 2 }}px" height="{{ height }}px"
  src="https://ddnet.org/status/countryflags/{{ code | code_to_country }}.png"
  alt="player_flag_{{ code | code_to_country }}">
{% endmacro %}

{% macro search(form, input, htmx, value) %}
<form {% if form %}class="form-search-{{ form }}"{% endif %} action="/search" method="get">
    <input class="input-search-{{ input }}" type="search"
        name="q" autocomplete="off" spellcheck="false"
        placeholder="nameless tee, Multeasymap, ..."
        {% if form == "home" %}autofocus{% endif %}
        {% if value %}value="{{ value }}"{% endif %}
        {% if htmx %}
        hx-get="/search/api"
        hx-trigger="input changed"
        hx-target="#result-{{ input }}"
        {% endif %}
        >
    <div class="result-{{ input }}" id="result-{{ input }}"></div>
</form>
{% endmacro %}

{% macro pager(current_page, next, path) %}
    {% if current_page > 1 %}
    <a class="page" href="{{ path | safe }}/{{ current_page - 1 }}">Previous</a>
    {% endif %}

    {% if next %}
    <a class="page" href="{{ path | safe }}/{{ current_page + 1 }}">Next</a>
    {% endif %}
{% endmacro %}

{% macro map_card(map) %}
<div class="center">
    <h2>{{ map.map.server }} - <a href="/map/{{ map.map.map | urlencode }}">{{ map.map.map }}</a></h2>
    {% if map.map.timestamp %}
    <p>{{ map.map.timestamp | date(format="%F %T") }}</p>
    {% else %}
    <p>Unknown release date</p>
    {% endif %}
    <p>{{ macros::stars(stars=map.map.stars, max=5) }}</p>
    <p>{{ macros::join_array(array=map.map.mapper | mapper_array, link="/mapper/%s") }}</p>
    <a href="/map/{{ map.map.map | urlencode }}">
        <img class="center" src="https://ddnet.org/ranks/maps/{{ map.map.map | map_thumbnail }}.png">
    </a>
    <p>{{ map.finishes_rank }}<sup>{{ map.finishes_rank | ordinal }}</sup> with {{ map.finishes }} finish{{ map.finishes | pluralize(plural="es") }}</p>
</div>
{% endmacro %}

{% macro points_graph(ctx, data) %}

let data = [
  {%- for row in data -%}
  {
    x: '{{ row.date }}',
    rank_points: {{ row.rank_points }},
    team_points: {{ row.team_points }},
    points: {{ row.points }}
  },
  {%- endfor -%}
]

new Chart(
  {{ ctx }},
  {
    type: 'line',
    data: {
        datasets: [{
            label: 'Rank Points',
            data: data,
            fill: false,
            borderColor: '#4C9CEF',
            tension: 0,
            pointRadius: 0,
            parsing: {
              yAxisKey: 'rank_points'
            }
        },
        {
            label: 'Team Points',
            data: data,
            fill: false,
            borderColor: '#EF5255',
            tension: 0,
            pointRadius: 0,
            parsing: {
              yAxisKey: 'team_points'
            }
        },
        {
            label: 'Points',
            data: data,
            fill: false,
            borderColor: '#EFB1F1',
            tension: 0,
            pointRadius: 0,
            parsing: {
              yAxisKey: 'points'
            }
        }]
    },
    options: {
        maintainAspectRatio: false,
        spanGaps: true,
        animation: false,
        plugins: {
            tooltip: {
                mode: 'index',
                intersect: false,
            },
            title: {
                display: true,
                align: 'start',
                text: "Points graph",
                padding: {
                    top: 0,
                    bottom: 0
                },
                font: {
                    weight: 'bold',
                    size: 23,
                },
            }
        },
        hover: {
            mode: 'nearest',
            intersect: false
        },
        scales: {
            x: {
                grid: {
                    color: "#30304F"
                },
                ticks: {
                    font: {
                        weight: 'bold',
                        size: 20,
                    }
                },
                type: 'time',
                time: {
                    unit: 'year'
                },
            },
            y: {
                suggestedMax: 250,
                grid: {
                    color: "#30304F"
                },
                ticks: {
                    font: {
                        size: 17,
                    }
                }
            }
        }
    }
})
{% endmacro %}

{% macro doughnut_chart(ctx, data) %}
new Chart(
  {{ ctx }},
  {
  type: 'doughnut',
  data: {
      labels: [
          {% for row in data %}
          '{{ row.key }}',
          {% endfor %}
      ],
      datasets: [{
          label: '',
          data: [
              {% for row in data %}
              {
                label: '{{ row.seconds_played | time_format }}',
                value: '{{ row.seconds_played }}'
              },
              {% endfor %}
          ],
          backgroundColor: chart_colors,
          hoverOffset: 4
      }]
  },
  options: {
      maintainAspectRatio: false,
      plugins: {
          legend: {
              display: true,
              position: 'left'
          },
          tooltip: {
            callbacks: {
                label: function(context) {
                    const index = context.dataIndex;
                    let label = context.dataset.data[index].label || '';
                    return label;
                }
            }
          }
      }
  }
})
{% endmacro %}

{% macro bar_chart(ctx, data) %}
new Chart(
  {{ ctx }},
  {
  type: 'bar',
  data: {
      datasets: [{
          label: '',
          data: [
              {% for row in data | reverse %}
              {
                x: '{{ row.month }}',
                y: '{{ row.seconds_played / 60 / 60 }}',
                label: '{{ row.seconds_played | time_format }}'
              },
              {% endfor %}
          ],
          backgroundColor: '#4C9CEF',
          hoverOffset: 4
      }]
  },
  options: {
    scales: {
      y: {
        suggestedMax: 100
      }
    },
    maintainAspectRatio: false,
    plugins: {
        legend: {
            display: false
        },
        tooltip: {
          callbacks: {
              label: function(context) {
                  const index = context.dataIndex;
                  let label = context.dataset.data[index].label || '';
                  return label;
              }
          }
        }
    }
  }
})
{% endmacro %}
