{% extends "base.html" %}

{% block head %}
    <title>DDStats</title>
{% endblock %}

{% block main %}

{{ macros::search(form="", input="home", autocomplete=false, value=query) }}

<h2>Maps</h2>
{% if maps %}
<div class="container">
    {% for map in maps %}
    <div class="box">
        {{ macros::map_card(map=map) }}
    </div>
    {% endfor %}
</div>
{% else %}
<p>No maps found.</p>
{% endif %}

<h2>Players</h2>
{% if players %}
{% for player in players %}
<div class="container">
    <a href="/player/{{ player.name | urlencode_strict }}">
        <div class="box" style="display: flex">
            {% if player.skin_name %}
            <div title="{{ player.skin_name }}" class="tee-small">
                <div class="tee"
                    data-skinimage="https://ddstats.tw/skins/{{ player.skin_name | urlencode_strict }}.png"
                    data-bodycolor="{{ player.skin_color_body }}"
                    data-feetcolor="{{ player.skin_color_feet }}"
                    data-coloringmode="code">
                </div>
            </div>
            {% endif %}
            <h3 style="margin-left: 3.5rem;">{{ player.name }} - {{ player.points }} points</h3>
        </div>
    </a>
</div>
{% endfor %}
{% else %}
<p>No players found.</p>
{% endif %}
<script src="/static/js/TeeAssembler.js"></script>
{% endblock %}
