{% extends "base.html" %}

{% block head %}
	<title>DDStats</title>
{% endblock %}

{% block main %}

<form class="form-search-default" action="/search" method="get">
    <input class="input-search-home" type="text" value="{{ query }}" name="q" placeholder="nameless tee, Multeasymap, ...">
</form>

<h2>Maps</h2>
{% if maps %}
<div class="container">
    {% for map in maps %}
    <div class="box">  
        <div class="center"><h2>{{ map.server }} - {{ map.map }}</h2></div>
        <a href="/map/{{ map.map|urlencode_strict }}">
            <img class="center" src="https://ddnet.org/ranks/maps/{{ map.map|map_thumbnail }}.png">
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No maps found.</p>
{% endif %}

<h2>Players</h2>
{% if players %}
{% for player in players %}
<div class="container">
    <a href="/player/{{ player.name|urlencode_strict }}">
        <div class="box">
            <h3>{{ player.name }} - {{ player.points }} points</h3>
        </div>
    </a>
</div>
{% endfor %}
{% else %}
<p>No players found.</p>
{% endif %}
{% endblock %}
