{% extends "pages/player/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Recent playtime</h2>
        <a class="show-more" href="/player/{{ player | urlencode | safe }}/activity/playtime">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Date</th>
                <th>Map</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
                {% for activity in recentPlaytime %}
                <tr>
                    <td>{{ activity.date }}</td>
                    {% if activity.Server %}
                    <td><a href="/map/{{ activity.map | urlencode | safe }}">{{ activity.map }}</a></td>
                    {% else %}
                    <td>{{ truncate_string( activity.map) }}</td>
                    {% endif %}
                    <td>{{ time_format(activity.Playtime) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box">
        <h2 style="float: left">Recent playerinfo</h2>
        <a class="show-more" href="/player/{{ player | urlencode | safe }}/activity/playerinfo">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Last seen</th>
                <th>Clan</th>
                <th>Country</th>
                <th>Skin</th>
            </tr>
            </thead>
            <tbody>
                {% for activity in recentPlayerinfo %}
                <tr>
                    <td>{{ activity.lastseen }}</td>
                    <td>{{ activity.clan }}</td>
                    <td>{{ utils.player_flag_medium(activity.country) }}</td>
                    <td>
                        <div title="{{ activity.skin_name }}" class="tee-medium">
                            <button class="btn-copy" onClick="copyText('{{ activity.skin_name }}', '{{ activity.skin_color_body }}', '{{ activity.skin_color_feet }}')">
                                <div class="tee" data-skinimage="https://ddstats.qwik.space/skins/{{ activity.skin_name | urlencode }}.png" data-bodycolor="{{ activity.skin_color_body }}" data-feetcolor="{{ activity.skin_color_feet }}" data-coloringmode="code"></div>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="box">
        <h2>Most played gamemodes</h2>
        <div class="graph doughnut">
            <canvas id="mostPlayedGametypes"></canvas>
        </div>
    </div>

    <div class="box">
        <h2 style="float: left">Most played maps</h2>
        <a class="show-more" href="/player/{{ player | urlencode | safe }}/activity/mostplayed">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Map</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
                {% for map in mostPlayedMaps %}
                <tr>
                    {% if map.Server %}
                    <td><a href="/map/{{ map.map | urlencode | safe }}">{{ map.map }}</a></td>
                    {% else %}
                    <td>{{ truncate_string( map.map ) }}</td>
                    {% endif %}
                    <td>{{ time_format(map.Playtime) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Most played categories</h2>
        <div class="graph doughnut">
            <canvas id="mostPlayedCategories"></canvas>
        </div>
    </div>

    <div class="box">
        <h2>Most played Regions</h2>
        <div class="graph doughnut">
            <canvas id="mostPlayedRegions"></canvas>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>Playtime each month</h2>
        <div class="graph-wide center">
            <canvas id="playtimePerMonth"></canvas>
        </div>
    </div>
</div>

<script>
    function copyText(skin, body, feet) {
        navigator.clipboard.writeText(`player_skin ${skin}; player_color_body ${body}; player_color_feet ${feet}; player_use_custom_color 1`);
    }

    const ctx1 = document.getElementById('mostPlayedCategories');
    const ctx2 = document.getElementById('playtimePerMonth');
    const ctx3 = document.getElementById('mostPlayedGametypes');
    const ctx4 = document.getElementById('mostPlayedRegions')

    Chart.defaults.color = "#E0E0FF"
    Chart.defaults.font.family = "'Roboto Regular', sans-serif"
    Chart.defaults.font.size = 12

    new Chart(
        ctx1,
        {
        type: 'doughnut',
        data: {
            labels: [
                {% for row in playtimeCategories %}
                '{{ row.Category }}',
                {% endfor %}
            ],
            datasets: [{
                label: '',
                data: [
                    {% for row in playtimeCategories %}
                    '{{ row.Playtime }}',
                    {% endfor %}
                ],
                backgroundColor: [
                    '#EE588F',
                    '#E175DB',
                    '#967CF4',
                    '#4C6DEF',
                    '#4C9CEF',
                    '#4CDCDF',
                    '#3DDF89',
                    '#72D661',
                    '#AED651',
                    '#F4C025',
                    '#EB801B',
                    '#EF5255',
                ],
                label: 'Hours',
                hoverOffset: 4
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: 'left'
                }
            }
        }
    })

    new Chart(
        ctx2,
        {
        type: 'bar',
        data: {
            labels: [
                {% for row in playtimePerMonth %}
                '{{ Months[row.Month] }}',
                {% endfor %}
            ],
            datasets: [{
                label: '',
                data: [
                    {% for row in playtimePerMonth %}
                    '{{ row.Playtime }}',
                    {% endfor %}
                ],
                backgroundColor: '#4C9CEF',
                label: 'Hours',
                hoverOffset: 4
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    })

    new Chart(
        ctx3,
        {
        type: 'doughnut',
        data: {
            labels: [
                {% for row in playtimeGametypes %}
                '{{ row.gametype }}',
                {% endfor %}
            ],
            datasets: [{
                label: '',
                data: [
                    {% for row in playtimeGametypes %}
                    '{{ row.Playtime }}',
                    {% endfor %}
                ],
                backgroundColor: [
                    '#EE588F',
                    '#E175DB',
                    '#967CF4',
                    '#4C6DEF',
                    '#4C9CEF',
                    '#4CDCDF',
                    '#3DDF89',
                    '#72D661',
                    '#AED651',
                    '#F4C025',
                    '#EB801B',
                    '#EF5255',
                ],
                label: 'Hours',
                hoverOffset: 4
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: 'left'
                }
            }
        }
    })

    new Chart(
        ctx4,
        {
        type: 'doughnut',
        data: {
            labels: [
                {% for row in playtimeLocation %}
                '{{ row.location }}',
                {% endfor %}
            ],
            datasets: [{
                label: '',
                data: [
                    {% for row in playtimeLocation %}
                    '{{ row.Playtime }}',
                    {% endfor %}
                ],
                backgroundColor: [
                    '#EE588F',
                    '#E175DB',
                    '#967CF4',
                    '#4C6DEF',
                    '#4C9CEF',
                    '#4CDCDF',
                    '#3DDF89',
                    '#72D661',
                    '#AED651',
                    '#F4C025',
                    '#EB801B',
                    '#EF5255',
                ],
                label: 'Hours',
                hoverOffset: 4
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: 'left'
                }
            }
        }
    })
</script>
{% endblock %}
