{% extends "templates/base.njk" %}
{% import "components/utils.njk" as utils %}
{% block head %}
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/chart-date-fns.js"></script>
    <script src="/assets/js/sortable.js" defer></script>
    <title>{{ player }} | {{ page }} | Player Profile | DDStats</title>
{% endblock %}
{% block main %}
    <h1>{{ player }}</h1>
    <ul class="buttons">
        <li>
            <a class="{{ "active" if page == "overview" }}" href="/player/{{ player | urlencode | safe }}">Overview</a>
        </li>
        <li>
            <a class="{{ "active" if page == "playtime" }}" href="/player/{{ player | urlencode | safe }}/playtime">Playtime</a>
        </li>
        <li>
            <a class="{{ "active" if page == "rank1s" }}" href="/player/{{ player | urlencode | safe }}/rank1s">Rank 1s</a>
        </li>
    </ul>

    {% block player %}

    {% endblock %}

{% endblock %}