{% extends "pages/player/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block player %}

{% set categories = ["Novice", "Moderate", "Brutal", "Insane", "Dummy", "DDmaX.Easy", "DDmaX.Next", "DDmaX.Pro", "DDmaX.Nut", "Oldschool", "Solo", "Race", "Fun"] %}
{% for category in categories %}

<div class="container">
    <div class="box">
        <h2>{{ category }}</h2>
        {% if rankings[category ] %}
        <div class="points">
            <table class="transparent">
                <thead>
                <tr>
                    <th>Points</th>
                    <th>Rank Points</th>
                    <th>Team Points</th>
                    <th>Team Rank1s</th>
                    <th>Rank 1s</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ utils.points(points, "points", category) }}</td>
                        <td>{{ utils.points(points, "rankpoints", category) }}</td>
                        <td>{{ utils.points(points, "teampoints", category) }}</td>
                        <td>Unranked</td>
                        <td>Unranked</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="sortable n-last">
            <thead>
                <tr>
                    <th id="default-sort" class="wide dir-u">Map</th>
                    <th>Time</th>
                    <th>Team Rank</th>
                    <th>Rank</th>
                    <th>Better than</th>
                    <th>Playtime</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for rank in rankings[category] %}
                <tr>
                    <td><a href="/map/{{ rank.Map | urlencode | safe }}">{{ rank.Map }}</a></td>
                    <td data-sort="{{ rank.Time }}">{{ fancy_time(rank.Time) }}</td>
                    {% if rank.Teamrank %}
                    <td data-sort="{{ rank.Teamrank }}">{{ rank.Teamrank }}<sup>{{ ordinal(rank.Teamrank) }}</sup></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td data-sort="{{ rank.Rank }}">{{ rank.Rank }}<sup>{{ ordinal(rank.Rank) }}</sup></td>
                    <td data-sort="{{ rank.BetterThan }}">{{ rank.BetterThan }}%</td>
                    <td data-sort="{{ playtime[rank.Map].Playtime if playtime[rank.Map].Playtime else 0 }}">
                        {{ time_format(playtime[rank.Map].Playtime) if playtime[rank.Map].Playtime else "Unplayed" }}
                    </td>
                    <td>{{ rank.Points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ player }} has not finished any {{ category }} maps and is unranked within the category.</p>
        {% endif %}
    </div>
</div>

{% endfor %}
{% endblock %}
