{% extends "templates/base.njk" %}
{% import "components/utils.njk" as utils %}
{% block head %}
    <title>{{ (info.Map ~ ' | ' ~ page | capitalize) if info else "Map not found" }} | DDStats</title>
{% endblock %}
{% block main %}

    {% if info %}
    <h1>{{ info.Map }}</h1>
    <ul class="buttons">
        <li>
            <a class="{{ "active" if page == "overview" }}" href="/map/{{ info.Map | urlencode | safe }}">Overview</a>
        </li>
        <li>
            <a class="{{ "active" if page == "timecps" }}" href="/map/{{ info.Map | urlencode | safe }}/timecps">Time CPS</a>
        </li>
        <li>
            <a class="{{ "active" if page == "playtime" }}" href="/map/{{ info.Map | urlencode | safe }}/playtime">Playtime</a>
        </li>
    </ul>

    {% block map %}

    {% endblock %}
    {% else %}
    <h1>404 - Map not found</h1>
    {% endif %}

{% endblock %}