{% extends "templates/base.njk" %}
{% import "components/utils.njk" as utils %}
{% block head %}
    <title>{{ mapper }} | Mappers | DDStats</title>
{% endblock %}
{% block main %}
    <h1>{{ mapper }}</h1>

    <div class="container">
        {% for map in maps %}
        <div class="box">  
            <div class="center"><h2>{{ map.Server }} - {{ map.Map }}</h2></div>
            <p class="center">{{ utils.joinArray(map.Mapper, "/mapper/%s") }}</p>
            <a href="/map/{{ map.Map | urlencode }}">
                <img class="center" src="https://ddnet.org/ranks/maps/{{ map.Map | replace(r/[À-ž]/g, "__") | replace(r/[^a-zA-Z0-9]/g, "_") }}.png">
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}