{% extends "pages/map/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block map %}

<div class="container">
    <div class="box">
        <img class="center" src="https://ddnet.org/ranks/maps/{{ info.Map | replace(r/[À-ž]/g, "__") | replace(r/[^a-zA-Z0-9]/g, "_") }}.png">
    </div>
    <div class="box">
        <h2 style="float: left">Info</h2>
        <table class="transparent">
            <tbody>
                <tr>
                    <td><b>Release date</b></td>
                    <td>{{ info.Timestamp if info.Timestamp != '0000-00-00 00:00:00' else 'Unknown'}}</td>
                </tr>
                <tr>
                    <td><b>Mapper</b></td>
                    <td>{{ utils.joinArray(info.Mapper, "/mapper/%s") }}</td>
                </tr>
                <tr>
                    <td><b>Difficulty</b></td>
                    <td>{{ info.Server }} {{ utils.stars(info.Stars, 5) }}</td>
                </tr>
                <tr>
                    <td><b>Finishes</b></td>
                    {% if info.finishes %}
                    <td>{{ info.finishesrank }}<sup>{{ ordinal(info.finishesrank) }}</sup> with {{ plural(info.finishes, "finish", "es") }}</td>
                    {% else %}
                    <td>Unfinished</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Points</b></td>
                    <td>{{ plural(info.Points, "Point") }}</td>
                </tr>
                <tr>
                    <td><b>Median time</b></td>
                    <td>{{ fancy_time(info.mediantime, true) if info.finishes else "Unfinished" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div class="box">
        {% if rankings | length %}
        <h2 style="float: left">Rankings</h2>
        <a class="show-more" href="/map/{{ map | urlencode | safe }}/rankings">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Time</th>
                <th>Diff</th>
                {% if not teamrankings | length %}
                <th>Date</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for rank in rankings %}
                <tr>
                    <td>{{ rank.Rank }}<sup>{{ ordinal(rank.Rank) }}</sup></td>
                    <td>{{ utils.server_flag(rank.Server) }} <a href="/player/{{ rank.Name | urlencode }}">{{ rank.Name }}</a></td>
                    <td>{{ fancy_time(rank.Time) }}</td>
                    {{ utils.diff(rankings[0].Time, rank.Time) }}
                    {% if not teamrankings | length %}
                    <td>{{ rank.Timestamp }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Rankings</h2>
        <p>Nobody has finished this map. {{ "It's in the Fun category, so it's most likely unfinishable." if info.Server == "Fun" else "Maybe you will become the first one?" }} </p>
    {% endif %}
    </div>
    {% if teamrankings | length %}
    <div class="box">
        <h2 style="float: left">Teamrankings</h2>
        <a class="show-more" href="/map/{{ map | urlencode | safe }}/teamrankings">Show more</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Players</th>
                <th>Time</th>
                <th>Diff</th>
            </tr>
            </thead>
            <tbody>
                {% for id, rank in teamrankings %}
                {% if loop.first %}
                {% set time1 = rank[0].Time %}
                {% endif %}
                <tr>
                    <td>{{ rank[0].Rank }}<sup>{{ ordinal(rank[0].Rank) }}</sup></td>
                    <td>
                    {{ utils.server_flag(rank[0].Server) }}
                    {% for player in rank %}
                        {% if (loop.first) and (loop.length > 2)  %}
                        <a href="/player/{{ player.Name | urlencode }}">{{ player.Name }}</a>,
                        {% elseif (loop.first) and loop.length == 2 %}
                        <a href="/player/{{ player.Name | urlencode }}">{{ player.Name }}</a> &
                        {% elseif (loop.last) and (loop.length > 2) %}
                            & <a href="/player/{{ player.Name | urlencode }}">{{ player.Name }}</a>
                        {% elseif (not loop.last) %}
                        <a href="/player/{{ player.Name | urlencode }}">{{ player.Name }}</a>,
                        {% else %}
                        <a href="/player/{{ player.Name | urlencode }}">{{ player.Name }}</a>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ fancy_time(rank[0].Time) }}</td>
                    {% if time1 - rank[0].Time < 0 %}
                    <td><span style="color: #EF5255;">+{{ fancy_time(rank[0].Time - time1) }}</span></td>
                    {% else %}
                    <td><span style="color: #3DDF89;">-00:00.00</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="box">
        <h3><a href="https://github.com/ddnet/ddnet-maps/raw/master/types/{{ info.Server | lower }}/maps/{{ info.Map | urlencode }}.map">Download Map</a></h3>
    </div>
</div>

{% endblock %}
