{% extends "pages/map/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block map %}

<div class="container">
    <div class="box">
        <table class="transparent">
            <thead>
            <tr>
                <th class="timecps small">Rank</th>
                <th class="timecps big">Player</th>
                <th class="timecps mid">Time</th>
                {% for i in range(1, 26) %}
                <th class="timecps mid">CP{{ i }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for rank in timecps %}
                <tr>
                    <td class="timecps small">{{ loop.index }}</td>
                    <td class="timecps big"><pre><a href="/player/{{ rank.Name | urlencode }}">{{ rank.Name }}</a></pre></td>
                    <td class="timecps mid">{{ fancy_time(rank.Time) }}</td>
                    {% for i in range(1, 26) %}
                    {% set cp = "cp" + i %}
                    <td class="timecps mid">{{ fancy_time(rank[cp]) if rank[cp] != 0 else "-"}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
