{% extends "player/base.html" %}

{% block player %}

<div class="container">
    <div class="box">
        <div class="graph">
            <canvas id="pointsChart"></canvas>
        </div>
    </div>
</div>

<div class="container left-bigger">
    <div class="box">
        <h2 style="float: left">Last finishes</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/overview/finishes">Show more</a>
        <table class="transparent">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Server</th>
                    <th></th>
                    <th>Map</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for finish in recent_finishes %}
                <tr>
                    <td>{{ finish.timestamp | date(format="%F %T") }}</td>
                    <td title="{{ finish.server }}">
                        {{ macros::server_flag(height=17, server=finish.server) }}
                    </td>
                    <td>{{ finish.map.server }}</td>
                    <td><a href="/map/{{ finish.map.map | urlencode | safe }}">{{ finish.map.map }}</a></td>
                    <td>{{ finish.time | fancy_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box">
        <h2 style="float: left">Favourite partners</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}/overview/partners">Show more</a>
        <table class="transparent">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Finishes together</th>
                </tr>
            </thead>
            <tbody>
                {% for teammate in favourite_teammates %}
                <tr>
                    <td><a href="/player/{{ teammate.name | urlencode }}">{{ teammate.name }}</a></td>
                    <td>{{ teammate.ranks_together }} rank{{ teammate.ranks_together | pluralize }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/chart-umd.js"></script>
<script src="/static/js/chart-date-fns.js"></script>
<script>
    const ctx_points_graph = document.getElementById('pointsChart'); {# rename these ids #}

    Chart.defaults.color = "#E0E0FF"
    Chart.defaults.font.family = "'Roboto Regular', sans-serif"
    Chart.defaults.font.size = 12

    {{ charts::points_graph(ctx="ctx_points_graph", data=points_graph) }}
</script>

{% endblock %}
