{% extends "player/base.html" %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Last finishes</h2>
        <a class="show-more" href="/player/{{ name | urlencode | safe }}">Go back</a>
        <table class="transparent">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Server</th>
                    <th></th>
                    <th>Map</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for finish in recent_finishes %}
                <tr>
                    <td>{{ finish.timestamp | date(format="%F %T") }}</td>
                    <td title="{{ finish.server }}">
                        {{ macros::server_flag(height=17, server=finish.server) }}
                    </td>
                    <td>{{ finish.map.server }}</td>
                    <td><a href="/map/{{ finish.map.map | urlencode | safe }}">{{ finish.map.map }}</a></td>
                    <td>{{ finish.time | fancy_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
