{% extends "pages/player/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Last finishes</h2>
        <a class="show-more" href="/player/{{ player | urlencode | safe }}">Go back</a>
        <table class="transparent">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Server</th>
                    <th></th>
                    <th>Map</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for finish in lastFinishes %}
                <tr>
                    <td>{{ finish.Timestamp }}</td>
                    <td><img height="20rem" src="https://ddnet.org/countryflags/{{ finish.Flag }}.png"</td>
                    <td>{{ finish.Server }}</td>
                    <td><a href="/map/{{ finish.Map | urlencode | safe }}">{{ finish.Map }}</a></td>
                    <td>{{ fancy_time(finish.Time) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
