{% extends "pages/player/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Most played maps</h2>
        <a class="show-more" href="/player/{{ player | urlencode | safe }}/activity">Go back</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Map</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
                {% for map in mostPlayedMaps %}
                <tr>
                    <td>{{loop.index }}<sup>{{ ordinal(loop.index) }}</sup></td>
                    <td>{{ map.Server if map.Server else "Non-DDNet" }}</td>
                    {% if map.Server %}
                    <td><a href="/map/{{ map.map | urlencode | safe }}">{{ map.map }}</a></td>
                    {% else %}
                    <td>{{ truncate_string(map.map) }}</td>
                    {% endif %}
                    <td>{{ time_format(map.Playtime) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
