{% extends "pages/player/base.njk" %}
{% import "components/utils.njk" as utils %}

{% block player %}

<div class="container">
    <div class="box">
        <h2 style="float: left">Recent playerinfo</h2>
        <a class="show-more" href="/player/{{ player | urlencode | safe }}/activity">Go back</a>

        <table class="transparent">
            <thead>
            <tr>
                <th>Last seen</th>
                <th>Clan</th>
                <th>Country</th>
                <th>Skin</th>
                <th>Time played</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for activity in recentPlayerinfo %}
                <tr>
                    <td>{{ activity.lastseen }}</td>
                    <td>{{ activity.clan }}</td>
                    <td title="{{ mapCountryCode(activity.country) }}">{{ utils.player_flag_medium(activity.country) }}</td>
                    <td>
                        <div title="{{ activity.skin_name }}" class="tee-medium">
                            <div class="tee" data-skinimage="https://ddstats.qwik.space/skins/{{ activity.skin_name | urlencode }}.png" data-bodycolor="{{ activity.skin_color_body }}" data-feetcolor="{{ activity.skin_color_feet }}" data-coloringmode="code"></div>
                        </div>
                    </td>
                    <td>{{ time_format(activity.timeplayed) }}</td>
                    <td>
                        <button class="btn-copy-ex" onClick="copyText('{{ activity.skin_name }}', '{{ activity.skin_color_body }}', '{{ activity.skin_color_feet }}')">Copy</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function copyText(skin, body, feet) {
        navigator.clipboard.writeText(`player_skin ${skin}; player_color_body ${body}; player_color_feet ${feet}; player_use_custom_color 1`);
    }
</script>
{% endblock %}
